# Modelos y artefactos entrenados
*.pkl
*.joblib
*.h5
*.keras

# Datos
data/
*.csv
*.zip

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Entornos y credenciales
.env

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/